@import '@/css/base.scss';

.dropdown__list {
  @include drop-down-list;

  right: 0;
  top: 43px;
  max-width: 300px;
  width: max-content;

  & .dropdown__item {
    width: 100%;
    padding: 8px 16px;
    background-color: transparent;
    color: $font-primary-default;
    border: none;

    &.dropdown__item_delete {
      color: $font-error;
    }

    &:hover {
      background-color: $background-secondary-hover;
    }

    .router-link-active {
      color: $font-primary-default
    }
  }
}