@import '@/css/base.scss';

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background-color: $background-primary-default;

  .navigation__list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  .navigation__item {
    .button_primary {
      border: 1px solid $background-secondary;

      &:hover {
        background-color: $background-secondary-hover;
        color: $font-primary-default;

        svg {
          color: $font-primary-default;
        }
      }
  
      &.router-link-exact-active {
        background-color: $background-secondary;
        color: $font-primary-default;
        cursor: default;

        svg {
          color: $font-primary-default;
        }
      }
  
      &.active:not(.dropdown__button) {
        cursor: default;
      }
    
      &:disabled {
        border: none;
      }
    }  
  }

  .navigation__user {
    display: flex;
    gap: 24px;

    & .button_primary {
      position: relative;
      padding: 6px 16px;
      background: transparent;
      border: 1px solid transparent;
  
      &:hover {
        border: 1px solid $background-secondary;
      }
  
      &:active,
      &.active {
        background-color: $background-secondary;
  
        & .navigation__icon svg {
          color: $background-secondary-active;
          transform: rotate(180deg);
        }
      }
    }
  }

  .navigation__avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}