<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Item</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="item">
    <div class="item__container">
        <p class="item__name">Название</p>
      <div class="item__details">
        <p class="item__code">#1</p>
        <p class="item__author">Иванов И.И. создал 1 час назад</p>
        <p class="item_last-change">Баранов В.В. изменил 1 минуту назад</p>
      </div>
    </div>
    <button class="button_secondary button_small"></button>
  </div>

  <div class="item">
    <div class="item__container">
        <p class="item__name">Название</p>
      <div class="item__details">
        <p class="item__code">#1</p>
        <p class="item__author">Иванов И.И. создал 1 час назад</p>
        <p class="item_last-change">Баранов В.В. изменил 1 минуту назад</p>
      </div>
    </div>
    <button class="button_secondary button_small"></button>
  </div>
</body>
</html>