@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/src/assets/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Regular"), url(/src/assets/fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
:root {
  --background-primary-default: #1F75CB;
  --background-primary-hover: #1068BF;
  --background-primary-active: #0B5CAD;
  --background-disabled: #DCDCDE;
  --background-secondary: #FFFFFF;
  --background-secondary-hover: #ECECEF;
  --background-secondary-active: #DCDCDE;
  --border-default: rgba(0, 0, 0, 0.15);
  --border-hover: rgba(18, 19, 22, 0.5);
  --border-active: #1C1C1C;
  --border-error: #EE4222;
  --border-disabled: rgba(0, 0, 0, 0.15);
  --border-bronze: #9E6955;
  --font-primary-default: #1C1C1C;
  --font-secondary: #FFFFFF;
  --font-disabled: #8E8E8E;
  --font-error: #EE4222;
  --font-placeholder: #D9D9D9;
}

* {
  box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: flex;
}

button {
  font-family: "Open Sans";
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-primary-default);
  margin: 0;
}

h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-primary-default);
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
}

h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-primary-default);
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

b {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-primary-default);
  font-weight: 600;
}

.button_primary {
  background-color: var(--background-primary-default);
  color: var(--font-secondary);
  border-radius: 4px;
  border: none;
  padding: 11px 15px;
}
.button_primary:hover {
  background-color: var(--background-primary-hover);
}
.button_primary:active {
  background-color: var(--background-primary-active);
}
.button_primary:disabled {
  background-color: var(--background-disabled);
  color: var(--font-disabled);
}

.button_secondary {
  background-color: var(--background-secondary);
  font-size: inherit;
  line-height: inherit;
  color: var(--font-primary-default);
  border-radius: 4px;
  border: 1px solid var(--border-default);
  padding: 11px 15px;
}
.button_secondary:hover {
  background-color: var(--background-secondary-hover);
  border: 1px solid var(--border-hover);
}
.button_secondary:active {
  background-color: var(--background-secondary-active);
  border: 1px solid var(--border-active);
}
.button_secondary:disabled {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-disabled);
  color: var(--font-disabled);
}

.button_primary.button_small,
.button_secondary.button_small {
  position: relative;
  width: 42px;
  height: 42px;
}
.button_primary.button_small::before,
.button_secondary.button_small::before {
  content: "⋮";
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 25px;
  font-weight: 600;
}
.button_primary.button_small:disabled::before,
.button_secondary.button_small:disabled::before {
  color: var(--font-disabled);
}

.button_primary.button_small::before {
  color: var(--font-secondary);
}

.item {
  display: flex;
  align-items: center;
  margin: 0 20px 10px;
  padding: 0px 16px 8px;
  gap: 16px;
  border-bottom: 1px solid var(--border-active);
  overflow: hidden;
}
.item .button_small {
  display: none;
  animation: fade-out 1s;
}
.item:hover .button_small {
  display: block;
  animation: fade-in 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.item__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  width: 100%;
}

.item__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.item__avatar {
  border-radius: 50%;
}

.item__details {
  display: flex;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}

.item__author,
.item_last-change {
  color: var(--font-disabled);
}

.item__status {
  padding: 0px 8px;
  color: var(--font-secondary);
  border: none;
  border-radius: 4px;
}

.item__status_in-work {
  background-color: var(--border-bronze);
}

.item__status_done {
  background-color: var(--background-primary-default);
}

.item__status_error {
  background-color: var(--border-error);
}

.item__status_disabled {
  background-color: var(--background-disabled);
}

.item__last-change {
  margin-left: auto;
}/*# sourceMappingURL=style.css.map */