@import '../normalize.css';
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/src/assets/fonts/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Regular"), url(/src/assets/fonts/OpenSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
:root {
  --background-primary-default: #1F75CB;
  --background-primary-hover: #1068BF;
  --background-primary-active: #0B5CAD;
  --background-disabled: #DCDCDE;
  --background-secondary: #FFFFFF;
  --background-secondary-hover: #ECECEF;
  --background-secondary-active: #DCDCDE;
  --border-default: rgba(0, 0, 0, 0.15);
  --border-hover: rgba(18, 19, 22, 0.5);
  --border-active: #1C1C1C;
  --border-error: #EE4222;
  --border-disabled: rgba(0, 0, 0, 0.15);
  --border-bronze: #9E6955;
  --font-primary-default: #1C1C1C;
  --font-secondary: #FFFFFF;
  --font-disabled: #8E8E8E;
  --font-error: #EE4222;
  --font-placeholder: #D9D9D9;
}

* {
  box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: flex;
}

body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-primary-default);
}

h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-primary-default);
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
}

h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-primary-default);
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

b {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-primary-default);
  font-weight: 600;
}

.button-primary {
  padding: 12px 16px;
  border-radius: 4px;
  background-color: var(--background-primary-default);
  color: var(--font-secondary);
}
.button-primary:hover {
  background-color: var(--background-primary-hover);
}
.button-primary:active {
  background-color: var(--background-primary-active);
}
.button-primary:disabled {
  background-color: var(--background-disabled);
  color: var(--font-disabled);
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  background-color: var(--background-primary-default);
}
.navigation .navigation__list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
}
.navigation .button-primary {
  border: 1px solid var(--background-secondary);
}
.navigation .button-primary:active {
  background-color: var(--background-secondary);
  color: var(--font-primary-default);
}
.navigation .button-primary:disabled {
  border: none;
}
.navigation .navigation__user {
  position: relative;
  padding: 9px 16px;
}
.navigation .navigation__user::before, .navigation .navigation__user::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 9px;
  background-color: var(--background-secondary);
}
.navigation .navigation__user::before {
  bottom: 16px;
  right: 24px;
  transform: rotate(45deg);
}
.navigation .navigation__user::after {
  bottom: 16px;
  right: 29px;
  transform: rotate(135deg);
}
.navigation .navigation__avatar {
  border-radius: 50%;
  margin-right: 32px;
}/*# sourceMappingURL=style.css.map */