@import '@/css/base.scss';

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  background-color: $background-primary-default;

  .navigation__list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    list-style: none;
  }

  .button_primary {
    border: 1px solid $background-secondary;

    &:active,
    &.active {
      background-color: $background-secondary;
      color: $font-primary-default;
    }

    &.active {
      cursor: default;
    }
  
    &:disabled {
      border: none;
    }
  }

  .navigation__user {
    position: relative;
    display: flex;
    gap: 8px;
    padding: 8px 16px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border 0.5s;
    z-index: 3;

    &:hover {
      border: 1px solid $background-secondary;
    }

    &:active,
    &.active {
      background-color: $background-secondary;

      & .navigation__icon svg,
      & .navigation__icon svg {
        color: $background-secondary-active;
      }
    }
  }

  .navigation__avatar {
    border-radius: 50%;
  }

  .navigation__icon svg {
    width: 24px;
    height: 24px;
    color: $background-secondary;
  }
}