@import '@/css/base.scss';

.filter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;

  .input__container {
    width: 100%;

    &::after {
      content: url('@/assets/img/search.png');
      position: absolute;
      top: 8px;
      right: 10px;
      width: 24px;
      height: 24px;
    }
  }

  .select__container {
    min-width: 172px;
  }
}