@import '@/css/base.scss';

.filter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;

  .input__container {
    width: 100%;

    &::after {
      content: url('@/assets/img/search.png');
      position: absolute;
      top: 8px;
      right: 10px;
      width: 24px;
      height: 24px;
    }
  }

  .filter__sort {
    display: flex;
    height: 42px;

    .select__base {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .select__container {
      width: 172px;
    }

    .button_small {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &.active {
        background-color: $background-secondary;

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.filter-form__container {
  position: relative;
}

.filter-form__dropdown {
  display: none;
}

.button_small.active + .filter-form__dropdown {
  @include drop-down-list;
      display: flex;
      flex-direction: column;
      gap: 24px;
      position: absolute;
      top: 44px;
      right: 0;
      width: 300px;
      padding: 24px;

      .select__container {
        flex-direction: column;
        
        label {
          color: $font-disabled;
        }
      }
}