<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Item</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="task-item">
    <div class="task-item__container">
      <div class="task-item__title">
        <p class="task-item__name">Название</p>
        <img class="task-item__avatar" src="../../assets/img/user-item.png" alt="аватар пользователя">
      </div>
      <div class="task-item__details">
        <p class="task-item__code">#1</p>
        <p class="task-item__author">Иванов И.И. создал 1 час назад</p>
        <p class="task-item_last-change">Баранов В.В. изменил 1 минуту назад</p>
      </div>
    </div>
  </div>

  <div class="task-item">
    <div class="task-item__container">
      <div class="task-item__title">
        <p class="task-item__name">Название</p>
        <img class="task-item__avatar" src="../../assets/img/user-item.png" alt="аватар пользователя">
      </div>
      <div class="task-item__details">
        <p class="task-item__code">#1</p>
        <p class="task-item__author">Иванов И.И. создал 1 час назад</p>
        <p class="task-item_last-change">Баранов В.В. изменил 1 минуту назад</p>
      </div>
    </div>
  </div>
</body>
</html>