@import '../base.scss';

.task-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 20px 10px;
  padding: 0px 16px 8px;
  gap: 16px;
  border-bottom: 1px solid var(--border-active);
}

.task-item__container {
  width: 100%;
}

.task-item__title,
.task-item__details {
  display: flex;
  justify-content: space-between;
}

