@import './base.scss';

.stub__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100vh;
  border: 1px solid var(--border-default);
  border-radius: 4px;
}