@import '@/css/base.scss';

.select__container {
  position: relative;
  display: flex;
  gap: 8px;

  & .select__base {
    position: relative;
    display: block;
    width: 100%;
    height: 42px;
    padding: 11px 30px 11px 12px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    &::after {
      content: url('@/assets/img/drop_down.png');
      position: absolute;
      top: 8px;
      right: 10px;
      width: 24px;
      height: 24px;
      transform: rotate(0deg);
    }
  
    &.active::after {
      transform: rotate(180deg);
    }

    & .select__placeholder {
      color: $border-default;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.selected {
        color: $font-primary-default;
      }

      &::selection {
        background: transparent;
     }
    }

    & .select__list {
      display: none;
    }

    &.active .select__list {
      @include drop-down-list;
      display: block;
      position: absolute;
      top: 44px;
      left: 0;
      width: 100%;

      & li {
        padding: 8px 16px;
        cursor: pointer;

        &:hover {
          background-color: $background-secondary-hover;
        }

        &.active {
          background-color: $background-secondary-active;
          cursor: default;
        }
      }
    }
  }
}

label {
  display: inline-block;
  min-width: 120px;

  span {
    color: $font-error;
  }
}

select {
  display: none;

  option:disabled {
    color: $font-disabled;
  }
}