@import '@/css/base.scss';

.input__container {
  position: relative;
  display: flex;
  gap: 8px;
}

label {
  display: inline-block;
  width: 120px;

  span {
    color: $font-error;
  }
}

input {
  width: 100%;
  padding: 10px 12px;
  background: $background-secondary;
  border: 1px solid $border-default;
  border-radius: 4px;

  &::placeholder {
    font-size: 14px;
    letter-spacing: normal;
    color: $font-placeholder;
  }

  &:required,
  &:invalid {
    border: 1px solid $border-error;
  }
}

.form__icon {
  position: absolute;
  right: 0;
}