@import '@/css/base.scss';

.input__container {
  position: relative;
  display: flex;
  gap: 8px;

  & button {
    position: absolute;
    top: 12px;
    right: 42px;
    display: inline;
    background-color: transparent;
    border: none;
  }

  & input + button {
    display: none;

    &.active {
      display: block;
    }
  }

  .input__icon svg {
    color: $border-default;
  }
}

label {
  display: inline-block;
  width: 120px;

  span {
    color: $font-error;
  }
}

input {
  position: relative;
  width: 100%;
  padding: 11px 12px;
  background: $background-secondary;
  border: 1px solid $border-default;
  border-radius: 4px;

  &::placeholder {
    font-size: 14px;
    letter-spacing: normal;
    color: $font-placeholder;
  }
}

.form__icon {
  position: absolute;
  right: 0;
}