@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url(/src/assets/fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Regular'),
  url(/src/assets/fonts/OpenSans-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

  $background-primary-default: #1F75CB;
  $background-primary-hover: #1068BF;
  $background-primary-active: #0B5CAD;
  $background-disabled: #DCDCDE;
  $background-secondary: #FFFFFF;
  $background-secondary-hover: #ECECEF;
  $background-secondary-active: #DCDCDE;

  $border-default: rgba(0, 0, 0, 0.15);
  $border-hover: rgba(18, 19, 22, 0.5);
  $border-active: #1C1C1C;
  $border-error: #EE4222;
  $border-disabled: rgba(0, 0, 0, 0.15);
  $border-bronze: #9E6955;

  $font-primary-default: #1C1C1C;
  $font-secondary: #FFFFFF;
  $font-disabled: #8E8E8E;
  $font-error: #EE4222;
  $font-placeholder: #D9D9D9;

@mixin base-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $font-primary-default;
}

@mixin base-bold-text {
  @include base-text;
  font-weight: 600;
}

@mixin title-h1 {
  @include base-bold-text;
  font-size: 40px;
  line-height: 54px;
}

@mixin title-h2 {
  @include base-bold-text;
  font-size: 24px;
  line-height: 33px;
}

@mixin button-primary-base {
  background-color: $background-primary-default;
  color: $font-secondary;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: $background-primary-hover;
  }

  &:active {
    background-color: $background-primary-active;
  }

  &:disabled {
    background-color: $background-disabled;
    color: $font-disabled;
  }
}

@mixin button-secondary-base {
  background-color: $background-secondary;
  font-size: inherit;
  line-height: inherit;
  color: $font-primary-default;
  border-radius: 4px;
  border: 1px solid $border-default;

  &:hover {
    background-color: $background-secondary-hover;
    border: 1px solid $border-hover;
  }

  &:active {
    background-color: $background-secondary-active;
    border: 1px solid $border-active;
  }

  &:disabled {
    background-color: $background-secondary;
    border: 1px solid $border-disabled;
    color: $font-disabled;
  }
}

* {
  box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}

input, textarea, select, button {
  font-family: 'Open Sans';
  font-size: inherit;
  line-height: inherit;
}

button,
.dropdown__list a {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

router-link {
  display: block;
}

body {
 @include base-text;

 height: 100vh;
 margin: 0;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  padding: 24px;
  flex-grow: 2;
}

h1 {
  @include title-h1;
}

h2 {
  @include title-h2;
}

b {
  @include base-bold-text;
}

.button_primary {
  @include button-primary-base;
  padding: 11px 15px;
}

.button_secondary {
  @include button-secondary-base;
  padding: 11px 15px;
}

.button_primary.button_small,
.button_secondary.button_small {
  position: relative;
  padding: 9px;

  &:disabled {
    cursor: not-allowed;
  }

  & .button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:disabled .button__icon svg {
    color: $font-disabled;
  }
}

.button_primary.button_small {
  & .button__icon svg {
    color: $font-secondary;
  }

  &.active {
    background-color: $background-primary-active;
  }
}

.button_secondary.button_small {
  &:hover.active {
    border: 1px solid $border-default;
  }

  &.active {
    background-color: $background-secondary-active;
  }
}

.dropdown__list {
  position: absolute;
  right: 0;
  top: 43px;
  max-width: 300px;
  width: max-content;
  padding: 8px 0;
  background-color: $background-secondary;
  text-align: left;
  color: $font-primary-default;
  list-style: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  cursor: default;
  z-index: 1;

  & .dropdown__item {
    width: 100%;
    padding: 8px 16px;
    background-color: transparent;
    color: $font-primary-default;
    border: none;

    &.dropdown__item_delete {
      color: $font-error;
    }

    &:hover {
      background-color: $background-secondary-hover;
    }

    .router-link-active {
      color: $font-primary-default
    }
  }
}

// .api-buttons {
//   margin: 30px;
// }

// .api-buttons__row {
//   display: flex;
//   gap: 15px;
//   margin: 30px 0;
// }

.status {
  padding: 0px 8px;
  color: $font-secondary;
  border: none;
  border-radius: 4px;
}

.status_in-work {
  background-color: $border-bronze;
}

.status_done,
.status_active {
  background-color: $background-primary-default;
}

.status_error {
  background-color: $border-error;
}

.status_inactive {
  background-color: $font-disabled;
}