@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url(/src/assets/fonts/OpenSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Regular'),
  url(/src/assets/fonts/OpenSans-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

  $background-primary-default: #1F75CB;
  $background-primary-hover: #1068BF;
  $background-primary-active: #0B5CAD;
  $background-disabled: #DCDCDE;
  $background-secondary: #FFFFFF;
  $background-secondary-hover: #ECECEF;
  $background-secondary-active: #DCDCDE;

  $border-default: rgba(0, 0, 0, 0.15);
  $border-hover: rgba(18, 19, 22, 0.5);
  $border-active: #1C1C1C;
  $border-error: #EE4222;
  $border-disabled: rgba(0, 0, 0, 0.15);
  $border-bronze: #9E6955;

  $font-primary-default: #1C1C1C;
  $font-secondary: #FFFFFF;
  $font-disabled: #8E8E8E;
  $font-error: #EE4222;
  $font-placeholder: #D9D9D9;

@mixin base-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $font-primary-default;
}

@mixin base-bold-text {
  @include base-text;
  font-weight: 600;
}

@mixin title-h1 {
  @include base-bold-text;
  font-size: 40px;
  line-height: 54px;
}

@mixin title-h2 {
  @include base-bold-text;
  font-size: 24px;
  line-height: 33px;
}

@mixin button-primary-base {
  background-color: $background-primary-default;
  color: $font-secondary;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: $background-primary-hover;
  }

  &:active {
    background-color: $background-primary-active;
  }

  &:disabled {
    background-color: $background-disabled;
    color: $font-disabled;
  }
}

@mixin button-secondary-base {
  background-color: $background-secondary;
  font-size: inherit;
  line-height: inherit;
  color: $font-primary-default;
  border-radius: 4px;
  border: 1px solid $border-default;

  &:hover {
    background-color: $background-secondary-hover;
    border: 1px solid $border-hover;
  }

  &:active {
    background-color: $background-secondary-active;
    border: 1px solid $border-active;
  }

  &:disabled {
    background-color: $background-secondary;
    border: 1px solid $border-disabled;
    color: $font-disabled;
  }
}

* {
  box-sizing: border-box;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: flex;
}

button {
  font-family: 'Open Sans';
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body {
 @include base-text;

 margin: 0;
}

h1 {
  @include title-h1;
}

h2 {
  @include title-h2;
}

b {
  @include base-bold-text;
}

.button_primary {
  @include button-primary-base;
  padding: 11px 15px;
}

.button_secondary {
  @include button-secondary-base;
  padding: 11px 15px;
}

.button_primary.button_small,
.button_secondary.button_small {
  position: relative;
  width: 42px;
  height: 42px;
  z-index: 2;

  &::before {
    content: '⋮';
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 25px;
    font-weight: 600;
  }

  &:disabled::before {
    color: $font-disabled;
  }
}

.button_primary.button_small {
  &::before {
    color: $font-secondary;
  }

  &.active {
    background-color: $background-primary-active;
  }
}

.button_secondary.button_small {
  &:hover.active {
    border: 1px solid $border-default;
  }

  &.active {
    background-color: $background-secondary-active;
  }
}

.dropdown__list {
  position: absolute;
  right: 0;
  bottom: -89px;
  padding: 8px 0;
  background-color: $background-secondary;
  list-style: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  & .dropdown__item {
    padding: 8px 16px;
    text-align: left;

    &.dropdown__item_delete {
      color: $font-error;
    }

    &:hover {
      background-color: $background-secondary-hover;
    }
  }
}

.dropdown__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}